.marge-form {
    margin: 0 5rem;
    background-color: white;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content:center;
}

.position-flex {
    display: flex;
    justify-content:center;
    gap: 15px;
}

.form-title {
    background-color: #eef1de;
    border-radius: 10px;
    padding: 15px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content:center;
}

.form-title h2 {
    color:black;
    font-size: 20px;
    font-weight: bold;
}

.position-flex-end {
    display: flex;
    justify-content:right;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.simple-bouton {
    background-color: transparent;
    color: #94A91B;
    border: 1px solid #94A91B;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.simple-bouton:hover {
    background-color: #94A91B;
    color: white;
    transition: 0.3s;
}