.icon-style {
  height: 40px;
  width: 40px;
  background-color: #f0f0f0;
  border-radius: 50%;
  color: #94A91B;
}

.icon-style2 {
  height: 24px;
  width: 24px;
  padding: 8px 8px 8px 8px; 
  background-color: #f0f0f0;
  border-radius: 50%;
  color: #94A91B;
}


 .icon-action-style {
  font-weight: bold;
  color: #94A91B;
  cursor: pointer;
  transition: color 0.3s ease;
  margin: 0 5px;
}